.selected-item {
  width: 95%;
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.selected-item__cell-container {
  width: 100%;
}

.selected-item__container {
  width: calc(100% - 10px);
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border: 5px solid #7a7a7a;
  border-radius: 20px;
  background: transparent;
}

.selected-item__container_mapped {
  gap: 10px;
}

.selected-item__status-header {
  width: 100%;
  margin-bottom: 20px;
}

.selected-item__status {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #7a7a7a;
}

.selected-item__source {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: #7a7a7a;
  background-color: transparent;
}

.selected-item__product-atribute {
  max-width: calc(100% - 20px);
  max-height: 51px;
  display: block;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  word-break: break-all;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #7a7a7a;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-item__product-atribute-span {
  line-height: 25px;
  font-size: 20px;
  font-weight: 600;
}

.selected-item__product-link {
  max-width: calc(100% - 10px);
  display: block;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  word-break: break-all;
  font-size: 15px;
  line-height: 15px;
  font-weight: normal;
  cursor: pointer;
}

.selected-item__vs {
  width: 80px;
  height: 70px;
  margin: 20px 0;
  align-self: center;
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .selected-item__product-atribute {
    font-size: 12px;
    line-height: 15px;
  }

  .selected-item__product-atribute-span {
    line-height: 15px;
    font-size: 15px;
  }

  .selected-item__product-link {
    font-size: 12px;
    line-height: 15px;
  }

  .selected-item__source {
    font-size: 12px;
    line-height: 15px;
  }

  .selected-item__status {
    font-size: 12px;
    line-height: 15px;
  }

  .selected-item__vs {
    width: 50px;
    height: 40px;
    margin: 15px 0;
  }
}

@media screen and (max-width: 650px) {
  .selected-item__product-atribute {
    font-size: 10px;
    line-height: 15px;
  }

  .selected-item__product-atribute-span {
    line-height: 12px;
    font-size: 15px;
  }

  .selected-item__product-link {
    font-size: 10px;
    line-height: 15px;
  }

  .selected-item__vs {
    width: 30px;
    height: 20px;
    margin: 10px 0;
  }
}
